{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>MyjobPRO</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>




    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        <strong>{{ job.title }}</strong>
                    </h1>
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fa fa-map-marker" style="font-size:20px;color:white"></i><span class="ml-3 text-white">{{ job.territory}}</span></span>
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fa fa-user" style="font-size:20px;color:white"></i><span class="ml-3 text-white">Full Time</span></span>
                        <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="text-white" style="font-size:20px;color:white"><span>&#8377;</span> </i><span class="ml-3 text-white">25k</span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <section class="section-hero overlay inner-page bg-image"
    style="background-image: url('{% static 'images/hero_1.jpg' %}')" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold"></h1>
            </div>
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner-content col-lg-12">
                        <h1 class="text-white">
                            <strong>{{ job.title }}</strong>
                        </h1>
                        <div class="d-flex flex-column flex-lg-row justify-content-center">
                            <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fa fa-map-marker" style="font-size:20px;color:white"></i><span class="ml-3 text-white">{{ job.territory}}</span></span>
                            <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="fa fa-user" style="font-size:20px;color:white"></i><span class="ml-3 text-white">Full Time</span></span>
                            <span class="ml-lg-5 mb-3 mb-lg-0 h5"><i class="text-white" style="font-size:20px;color:white"><span>&#8377;</span> </i><span class="ml-3 text-white">25k</span></span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="border p-2 d-inline-block mr-3 rounded">
                        <img src="{% static 'images/featured-listing-2.jpg' %}"
                            alt="Free Website Template By Free-Template.co">
                    </div>
                    <div>
                        <h2>{{ "title" }}</h2>
                        <div>
                            <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>{{ "company_name"
                                }}</span>
                            <span class="m-2"><span class="icon-room mr-2"></span>{{ "job_location" }}</span>
                            <span class="m-2"><span class="icon-clock-o mr-2"></span><span class="text-primary"> {{
                                    "employment_status" }}
                                </span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">

                    <div class="col-6">
                        <a class="btn btn-block btn-primary btn-md">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                            class="icon-align-left mr-3"></span>Job
                        Description</h3>
                    <p>{{ "description" }}</p>
                </div>
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                            class="icon-rocket mr-3"></span>Responsibilities</h3>
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-start mb-2"><span
                                class="icon-check_circle mr-2 text-muted"></span><span>{{ "responsibilities" }}</span>
                        </li>

                    </ul>
                </div>

                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
                            class="icon-book mr-3"></span>Experience
                    </h3>
                    <ul class="list-unstyled m-0 p-0">
                        <li class="d-flex align-items-start mb-2"><span
                                class="icon-check_circle mr-2 text-muted"></span><span>{{ "experience" }}</span>
                        </li>

                    </ul>
                </div>


            </div>
            <div class="col-lg-4">
                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"><strong class="text-black">Published
                                on:</strong> {{ "published_on" }} ago
                        </li>
                        <li class="mb-2"><strong class="text-black">Vacancy:</strong> {{ "vacancy" }}</li>
                        <li class="mb-2"><strong class="text-black">Employment
                                Status:</strong> {{ "employment_status" }}</li>
                        <li class="mb-2"><strong class="text-black">Experience:</strong> {{ "experience" }}</li>
                        <li class="mb-2"><strong class="text-black">Job Location:</strong> {{ "job_location" }}</li>
                        <li class="mb-2"><strong class="text-black">Salary:</strong> {{ "Salary" }}</li>
                        <li class="mb-2"><strong class="text-black">Gender:</strong> {{ "gender" }}</li>
                        <li class="mb-2"><strong class="text-black">Application
                                Deadline:</strong> {{ "application_deadline" }}</li>
                    </ul>
                </div>

                <div class="bg-light p-3 border rounded">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
                    <div class="px-3">
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
    <!-- End download Area -->


    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"' %}></script>
  			<script src="{% static ' js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}